@charset "utf-8";

@mixin default-box-shadow {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

@mixin fluid-sizing($ratio: 16/9, $padding: 0) {
  position: relative;
  height: 0;
  padding-top: 100 / $ratio + 0%;
  padding-bottom: $padding;

  * {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.row {
  @extend .clearfix;

  @for $i from 1 to 13 {
    .col-#{$i} {
      float: left;
      width: 100% / $i;
    }
  }
}

.spinner {
  width: 100%;
  height: 100%;
  background: url(spin.gif) no-repeat center center;
}

.twitter-timeline {
  width: 100%;
}
